.modal {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);

  &.show {
    display: flex;
  }

  .modal-dialog {
    display: flex;
    max-width: none !important;
    justify-content: center;
    margin: 0.5rem auto;
    height: fit-content;

    .modal-content {
      width: fit-content;
      min-width: 20rem;

      .modal-body {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 95vw;
      }
    }
  }
}
