.app {
  background-color: #dfdfdf;
  min-height: 100vh;
}

.page-wrapper {
  width: 100%;
  margin: 0 auto;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

@media screen {
  // sm
  @media (min-width: 576px) {
    .page-wrapper {
      width: 576px;
    }
  }

  // md
  @media (min-width: 768px) {
    .page-wrapper {
      width: 768px;
    }
  }

  // lg
  @media (min-width: 992px) {
    .page-wrapper {
      width: 992px;
    }
  }

  // xl
  @media (min-width: 1200px) {
    .page-wrapper {
      width: 1200px;
    }
  }

  // xxl
  @media (min-width: 1400px) {
  }
}
