.calendar-container {
  .calendar-clear {
    background-color: #f0f0f0;
    .btn {
      margin: 2px;
      padding: 0px 6px;
    }
  }
}

.react-datepicker__navigation {
  top: 42px !important;
}

.react-datepicker__triangle {
  transform: translate(120px, 0px) !important;
}

.react-datepicker__day {
  color: #424242 !important;

  &.react-datepicker__day--outside-month {
    color: #afafaf !important;
  }

  &.react-datepicker__day--selected {
    color: white !important;
  }
}
