.listing-card {
  user-select: none;
  height: 100%;

  &.editing {
    .card-header {
      display: block;
    }
  }

  .card-header {
    display: none;
    position: relative;
    padding: 0;
    height: 1rem;
    text-align: center;

    >img {
      transform: translateY(-40%);
      height: 100%;
    }

    .icon-button {
      text-align: center;
      background-color: #494949;
      color: white;
      border-radius: 100px;
      height: 36px;
      width: 36px;
      position: absolute;
      top: -1.625rem;
      right: -1.625rem
    }
  }

  .listing-card-body {
    .listing-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8rem;
      width: 100%;
      overflow: hidden;

      img {
        object-fit: cover;
        width: auto;
        height: 100%;
      }
    }
    .listing-title-description {
      h5 {
        font-weight: normal;
      }

      p {
        font-size: .75rem;
      }
    }
  }
}

@media screen {
  // sm
  @media (min-width: 576px) {
  }

  // md
  @media (min-width: 768px) {
  }

  // lg
  @media (min-width: 992px) {
  }

  // xl
  @media (min-width: 1200px) {
  }

  // xxl
  @media (min-width: 1400px) {
  }
}
