<!DOCTYPE html>
<html>
  <head>
    <title><%= og_title %></title>
    <meta name='description' content="<%= og_title %>" />
    <meta property="og:title" content="<%= og_title %>" />
    <meta property='og:site_name' content="Givespace" />
    <meta property='og:image' content="https://via.placeholder.com/150" />
    <meta name='author' content="<%= og_title %>" />
    <meta name='theme-color' content='#c9042c' />
  </head>
  <body>
    <div id="root"></div>

    <% if(process.env.NODE_ENV === "development"){ %>
    <script src="http://localhost:3000/index.js"></script>
    <% } else { %>
    <script src="/index.js" charset="utf-8"></script>
    <% }  %>
  </body>
</html>
