.hidden {
  display: none;
}

.links-container {
  display: flex;
  flex-wrap: wrap;

  .link-wrapper {
    padding: 4px;
    width: 50%;

    .link {
      border: 2px solid pink;
      display: flex;
      width: 100%;

      &.editing {
        >button {
          display: none;
        }
      }
    }
  }
}

.invalid_input {
  background-color: #f2dede;
  border-color: #ebccd1;
}
