.standard-text-input {
  width: 100%;
  padding: 0px 5px;
  background-color: lightblue;
  border-radius: 3px;
  border: none;
}
.invalid_input {
  background-color: #f2dede;
  border-color: #ebccd1;
}
.standard-text-display {
  padding: 0px 5px;
}
